In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1,2,5,np.nan, 6, 8])
print s
dates = pd.date_range('20130101', periods = 6)
df = pd.DataFrame(np.random.randint(1,10,[6,4]), index = dates, columns = list('ABCD'))
print df
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('02/10/2013').dayofweek,
                    'C' : pd.Series(1, index=range(4), dtype = 'float32'),
                    'D' : np.array([3]*4, dtype = 'int32'),
                    'E' : pd.Categorical(["test", "train", "test", "train"]),
                    'F' : 'foo'})
print df2
print df2.tail(2)
print df.index
print df2.columns
print df2.values
print df.describe()
print df.T
print df.sort_index(axis = 0, ascending = False)
print df.sort_index(axis = 0, ascending = False)
print df.sort_index(axis = 0)
print df.sort_values(by='B')
print '---'
print df.sort_values(by='B',ascending = False)['B'].unique()
print df.sort_values(by='B',ascending = False)['B'].unique()[:2] #find the 2nd largest
print df.sort_values(by='B',ascending = False)['B'].unique()[1] #find the 2nd largest

#Selection
print df['A']
print df[0:3]
print df['20130101':'20130103']

#Selection by Label
print df.loc[dates[0]]
print df.loc[:, ['A','B']]
print df.loc['20130101':'20130103', ['A','B']]
print df.loc['20130103', ['A','B']]

#For getting a scalar value
print df.loc['20130101','A']
print df.loc[dates[0],'A']

#Selection by Position
print df.iloc[3]
print df.iloc[3:5,0:2]
print df.iloc[[3,5], [0,3]]
print df.iloc[1:3,:]
print df.iat[1,1]

#Boolean Indexing
print df[df.A > 3]  # Using a single column values to select data.
print df[df>3] # A where operation for getting.

#Using the isin() method for filtering:
df2 = df.copy()
df2['E'] = ['one','two','two','three','one','four']
# print df2[df2.E.isin(['two','four'])]
print df2[df2['E'].isin(['two','four'])]

#Setting
s1 = pd.Series(range(6),index = pd.date_range('20130101',periods = 6))
print s1
df['F'] = s1
df.at[dates[0],'A'] = 0
df.iat[0,1] = 0
df.iloc[0,2] = 0
# df.iat[[3,5], [0,3]] = 0 #not ok, must use interger to index
f = lambda x: x*5
# df.loc[:,'D'] = np.array([5]*len(df))
print df['D'].map(lambda x: x*5) #must save back, otherwise will not save results
# df.columns = [x.lower() for x in df.columns] #operation on columns
df1 = df.applymap(lambda x: float(x) *2)
# dates = range(6)
# df = pd.DataFrame(np.random.randint(1,10,[6,4]), index = dates, columns = list('ABCD'))
df2 = df1.copy()
df3 = df1.copy()
df3.iloc[0,0] = 100
df3.iloc[0,3] = 100
df2[df2>0] = -df3
print df3
print df2[df2<0]
print "-------"
B = np.arange(6)
print df2.shape, B.shape #shape is tuple
print df2
print df2[['B','C']].apply(lambda x: x*B) #column to column multiplication
print (df2.T*B).T
C = np.arange(5)
print df2*C
print df

# Missing data
df1 = df.reindex(index = dates[0:4], columns = list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1.loc[dates[0], 'F'] = np.nan
print df1.dropna(how='all')
print df1.fillna(value = 5)
print df1.fillna(5)
print df1.isnull()
print df1.isnull().sum()

#Operations -stats
print df1.mean(1) #horizontal
print df1.mean() #vertical

0    1.0
1    2.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64
            A  B  C  D
2013-01-01  2  1  9  5
2013-01-02  4  1  9  7
2013-01-03  9  4  4  1
2013-01-04  9  7  3  5
2013-01-05  6  8  8  4
2013-01-06  5  9  3  1
     A  B    C  D      E    F
0  1.0  6  1.0  3   test  foo
1  1.0  6  1.0  3  train  foo
2  1.0  6  1.0  3   test  foo
3  1.0  6  1.0  3  train  foo
     A  B    C  D      E    F
2  1.0  6  1.0  3   test  foo
3  1.0  6  1.0  3  train  foo
DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
Index([u'A', u'B', u'C', u'D', u'E', u'F'], dtype='object')
[[1.0 6 1.0 3 'test' 'foo']
 [1.0 6 1.0 3 'train' 'foo']
 [1.0 6 1.0 3 'test' 'foo']
 [1.0 6 1.0 3 'train' 'foo']]
              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   5.833333  5.000000  6.000000  3.833333
std    2.786874  3.521363  2.966479  2.401388
min    2.000000  1.000000  3.000000  1.000000
25%    4.250000  1.750000  3.250000  1.750000
50%    5.500000  5.500000  6.000000  4.500000
75%    8.250000  7.750000  8.750000  5.000000
max    9.000000  9.000000  9.000000  7.000000
   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A           2           4           9           9           6           5
B           1           1           4           7           8           9
C           9           9           4           3           8           3
D           5           7           1           5           4           1
            A  B  C  D
2013-01-06  5  9  3  1
2013-01-05  6  8  8  4
2013-01-04  9  7  3  5
2013-01-03  9  4  4  1
2013-01-02  4  1  9  7
2013-01-01  2  1  9  5
            A  B  C  D
2013-01-06  5  9  3  1
2013-01-05  6  8  8  4
2013-01-04  9  7  3  5
2013-01-03  9  4  4  1
2013-01-02  4  1  9  7
2013-01-01  2  1  9  5
            A  B  C  D
2013-01-01  2  1  9  5
2013-01-02  4  1  9  7
2013-01-03  9  4  4  1
2013-01-04  9  7  3  5
2013-01-05  6  8  8  4
2013-01-06  5  9  3  1
            A  B  C  D
2013-01-01  2  1  9  5
2013-01-02  4  1  9  7
2013-01-03  9  4  4  1
2013-01-04  9  7  3  5
2013-01-05  6  8  8  4
2013-01-06  5  9  3  1
---
[9 8 7 4 1]
[9 8]
8
2013-01-01    2
2013-01-02    4
2013-01-03    9
2013-01-04    9
2013-01-05    6
2013-01-06    5
Freq: D, Name: A, dtype: int64
            A  B  C  D
2013-01-01  2  1  9  5
2013-01-02  4  1  9  7
2013-01-03  9  4  4  1
            A  B  C  D
2013-01-01  2  1  9  5
2013-01-02  4  1  9  7
2013-01-03  9  4  4  1
A    2
B    1
C    9
D    5
Name: 2013-01-01 00:00:00, dtype: int64
            A  B
2013-01-01  2  1
2013-01-02  4  1
2013-01-03  9  4
2013-01-04  9  7
2013-01-05  6  8
2013-01-06  5  9
            A  B
2013-01-01  2  1
2013-01-02  4  1
2013-01-03  9  4
A    9
B    4
Name: 2013-01-03 00:00:00, dtype: int64
2
2
A    9
B    7
C    3
D    5
Name: 2013-01-04 00:00:00, dtype: int64
            A  B
2013-01-04  9  7
2013-01-05  6  8
            A  D
2013-01-04  9  5
2013-01-06  5  1
            A  B  C  D
2013-01-02  4  1  9  7
2013-01-03  9  4  4  1
1
            A  B  C  D
2013-01-02  4  1  9  7
2013-01-03  9  4  4  1
2013-01-04  9  7  3  5
2013-01-05  6  8  8  4
2013-01-06  5  9  3  1
              A    B    C    D
2013-01-01  NaN  NaN  9.0  5.0
2013-01-02  4.0  NaN  9.0  7.0
2013-01-03  9.0  4.0  4.0  NaN
2013-01-04  9.0  7.0  NaN  5.0
2013-01-05  6.0  8.0  8.0  4.0
2013-01-06  5.0  9.0  NaN  NaN
            A  B  C  D     E
2013-01-02  4  1  9  7   two
2013-01-03  9  4  4  1   two
2013-01-06  5  9  3  1  four
2013-01-01    0
2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
Freq: D, dtype: int64
2013-01-01    25
2013-01-02    35
2013-01-03     5
2013-01-04    25
2013-01-05    20
2013-01-06     5
Freq: D, Name: D, dtype: int64
                A     B     C      D     F
2013-01-01  100.0   0.0   0.0  100.0   0.0
2013-01-02    8.0   2.0  18.0   14.0   2.0
2013-01-03   18.0   8.0   8.0    2.0   4.0
2013-01-04   18.0  14.0   6.0   10.0   6.0
2013-01-05   12.0  16.0  16.0    8.0   8.0
2013-01-06   10.0  18.0   6.0    2.0  10.0
               A     B     C      D     F
2013-01-01   NaN   NaN   NaN -100.0   NaN
2013-01-02  -8.0  -2.0 -18.0  -14.0  -2.0
2013-01-03 -18.0  -8.0  -8.0   -2.0  -4.0
2013-01-04 -18.0 -14.0  -6.0  -10.0  -6.0
2013-01-05 -12.0 -16.0 -16.0   -8.0  -8.0
2013-01-06 -10.0 -18.0  -6.0   -2.0 -10.0
-------
(6, 5) (6,)
               A     B     C      D     F
2013-01-01   0.0   0.0   0.0 -100.0   0.0
2013-01-02  -8.0  -2.0 -18.0  -14.0  -2.0
2013-01-03 -18.0  -8.0  -8.0   -2.0  -4.0
2013-01-04 -18.0 -14.0  -6.0  -10.0  -6.0
2013-01-05 -12.0 -16.0 -16.0   -8.0  -8.0
2013-01-06 -10.0 -18.0  -6.0   -2.0 -10.0
               B     C
2013-01-01   0.0   0.0
2013-01-02  -2.0 -18.0
2013-01-03 -16.0 -16.0
2013-01-04 -42.0 -18.0
2013-01-05 -64.0 -64.0
2013-01-06 -90.0 -30.0
               A     B     C     D     F
2013-01-01   0.0   0.0   0.0  -0.0   0.0
2013-01-02  -8.0  -2.0 -18.0 -14.0  -2.0
2013-01-03 -36.0 -16.0 -16.0  -4.0  -8.0
2013-01-04 -54.0 -42.0 -18.0 -30.0 -18.0
2013-01-05 -48.0 -64.0 -64.0 -32.0 -32.0
2013-01-06 -50.0 -90.0 -30.0 -10.0 -50.0
              A     B     C      D     F
2013-01-01  0.0   0.0   0.0 -300.0   0.0
2013-01-02 -0.0  -2.0 -36.0  -42.0  -8.0
2013-01-03 -0.0  -8.0 -16.0   -6.0 -16.0
2013-01-04 -0.0 -14.0 -12.0  -30.0 -24.0
2013-01-05 -0.0 -16.0 -32.0  -24.0 -32.0
2013-01-06 -0.0 -18.0 -12.0   -6.0 -40.0
            A  B  C  D  F
2013-01-01  0  0  0  5  0
2013-01-02  4  1  9  7  1
2013-01-03  9  4  4  1  2
2013-01-04  9  7  3  5  3
2013-01-05  6  8  8  4  4
2013-01-06  5  9  3  1  5
              A    B    C    D    F    E
2013-01-01  0.0  0.0  0.0  5.0  NaN  1.0
2013-01-02  4.0  1.0  9.0  7.0  1.0  1.0
2013-01-03  9.0  4.0  4.0  1.0  2.0  NaN
2013-01-04  9.0  7.0  3.0  5.0  3.0  NaN
              A    B    C    D    F    E
2013-01-01  0.0  0.0  0.0  5.0  5.0  1.0
2013-01-02  4.0  1.0  9.0  7.0  1.0  1.0
2013-01-03  9.0  4.0  4.0  1.0  2.0  5.0
2013-01-04  9.0  7.0  3.0  5.0  3.0  5.0
              A    B    C    D    F    E
2013-01-01  0.0  0.0  0.0  5.0  5.0  1.0
2013-01-02  4.0  1.0  9.0  7.0  1.0  1.0
2013-01-03  9.0  4.0  4.0  1.0  2.0  5.0
2013-01-04  9.0  7.0  3.0  5.0  3.0  5.0
                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True
A    0
B    0
C    0
D    0
F    1
E    2
dtype: int64
2013-01-01    1.200000
2013-01-02    3.833333
2013-01-03    4.000000
2013-01-04    5.400000
Freq: D, dtype: float64
A    5.5
B    3.0
C    4.0
D    4.5
F    2.0
E    1.0
dtype: float64

In [3]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64