In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
s = pd.Series([1,2,5,np.nan, 6, 8])
print s
dates = pd.date_range('20130101', periods = 6)
df = pd.DataFrame(np.random.randint(1,10,[6,4]), index = dates, columns = list('ABCD'))
df

0    1.0
1    2.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

            A  B  C  D
2013-01-01  3  2  4  6
2013-01-02  6  5  4  5
2013-01-03  2  7  3  6
2013-01-04  6  1  7  6
2013-01-05  4  3  1  8
2013-01-06  5  2  7  7

In [6]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('02/10/2013').dayofweek,
                    'C' : pd.Series(1, index=range(4), dtype = 'float32'),
                    'D' : np.array([3]*4, dtype = 'int32'),
                    'E' : pd.Categorical(["test", "train", "test", "train"]),
                    'F' : 'foo'})
df2

     A  B    C  D      E    F
0  1.0  6  1.0  3   test  foo
1  1.0  6  1.0  3  train  foo
2  1.0  6  1.0  3   test  foo
3  1.0  6  1.0  3  train  foo

In [9]:
print df2.tail(2)
print df.index
print df2.columns
print df2.values

     A  B    C  D      E    F
2  1.0  6  1.0  3   test  foo
3  1.0  6  1.0  3  train  foo
DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
Index([u'A', u'B', u'C', u'D', u'E', u'F'], dtype='object')
[[1.0 6 1.0 3 'test' 'foo']
 [1.0 6 1.0 3 'train' 'foo']
 [1.0 6 1.0 3 'test' 'foo']
 [1.0 6 1.0 3 'train' 'foo']]

In [10]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   4.333333  3.333333  4.333333  6.333333
std    1.632993  2.250926  2.338090  1.032796
min    2.000000  1.000000  1.000000  5.000000
25%    3.250000  2.000000  3.250000  6.000000
50%    4.500000  2.500000  4.000000  6.000000
75%    5.750000  4.500000  6.250000  6.750000
max    6.000000  7.000000  7.000000  8.000000

In [12]:
print df.T
print df.sort_index(axis = 0, ascending = False)
print df.sort_index(axis = 0)

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A           3           6           2           6           4           5
B           2           5           7           1           3           2
C           4           4           3           7           1           7
D           6           5           6           6           8           7
            A  B  C  D
2013-01-06  5  2  7  7
2013-01-05  4  3  1  8
2013-01-04  6  1  7  6
2013-01-03  2  7  3  6
2013-01-02  6  5  4  5
2013-01-01  3  2  4  6
            A  B  C  D
2013-01-01  3  2  4  6
2013-01-02  6  5  4  5
2013-01-03  2  7  3  6
2013-01-04  6  1  7  6
2013-01-05  4  3  1  8
2013-01-06  5  2  7  7

In [13]:
print df.sort_values(by='B')
print '---'
print df.sort_values(by='B',ascending = False)['B'].unique()
print df.sort_values(by='B',ascending = False)['B'].unique()[:2] #find the 2nd largest
print df.sort_values(by='B',ascending = False)['B'].unique()[1] #find the 2nd largest

            A  B  C  D
2013-01-04  6  1  7  6
2013-01-01  3  2  4  6
2013-01-06  5  2  7  7
2013-01-05  4  3  1  8
2013-01-02  6  5  4  5
2013-01-03  2  7  3  6
---
[7 5 3 2 1]
[7 5]
5

In [14]:
#Selection
print df['A']
print df[0:3]
print df['20130101':'20130103']

2013-01-01    3
2013-01-02    6
2013-01-03    2
2013-01-04    6
2013-01-05    4
2013-01-06    5
Freq: D, Name: A, dtype: int64
            A  B  C  D
2013-01-01  3  2  4  6
2013-01-02  6  5  4  5
2013-01-03  2  7  3  6
            A  B  C  D
2013-01-01  3  2  4  6
2013-01-02  6  5  4  5
2013-01-03  2  7  3  6

In [15]:
#Selection by Label
print df.loc[dates[0]]
print df.loc[:, ['A','B']]
print df.loc['20130101':'20130103', ['A','B']]
print df.loc['20130103', ['A','B']]

A    3
B    2
C    4
D    6
Name: 2013-01-01 00:00:00, dtype: int64
            A  B
2013-01-01  3  2
2013-01-02  6  5
2013-01-03  2  7
2013-01-04  6  1
2013-01-05  4  3
2013-01-06  5  2
            A  B
2013-01-01  3  2
2013-01-02  6  5
2013-01-03  2  7
A    2
B    7
Name: 2013-01-03 00:00:00, dtype: int64

In [16]:
#For getting a scalar value
print df.loc['20130101','A']
print df.loc[dates[0],'A']

3
3

In [17]:
#Selection by Position
print df.iloc[3]
print df.iloc[3:5,0:2]
print df.iloc[[3,5], [0,3]]
print df.iloc[1:3,:]
print df.iat[1,1]

A    6
B    1
C    7
D    6
Name: 2013-01-04 00:00:00, dtype: int64
            A  B
2013-01-04  6  1
2013-01-05  4  3
            A  D
2013-01-04  6  6
2013-01-06  5  7
            A  B  C  D
2013-01-02  6  5  4  5
2013-01-03  2  7  3  6
5

In [23]:
#Boolean Indexing
print df[df[['A','B']] > 3] # Using a single column values to select data.
print df[df[['A','B']] > 3].count(axis = 1)  # Using a single column values to select data.
print df[df[['A','B']] > 3].count(axis = 0)  # Using a single column values to select data.
print df[df>3] # A where operation for getting.

              A    B   C   D
2013-01-01  NaN  NaN NaN NaN
2013-01-02  6.0  5.0 NaN NaN
2013-01-03  NaN  7.0 NaN NaN
2013-01-04  6.0  NaN NaN NaN
2013-01-05  4.0  NaN NaN NaN
2013-01-06  5.0  NaN NaN NaN
2013-01-01    0
2013-01-02    2
2013-01-03    1
2013-01-04    1
2013-01-05    1
2013-01-06    1
Freq: D, dtype: int64
A    4
B    2
C    0
D    0
dtype: int64
              A    B    C  D
2013-01-01  NaN  NaN  4.0  6
2013-01-02  6.0  5.0  4.0  5
2013-01-03  NaN  7.0  NaN  6
2013-01-04  6.0  NaN  7.0  6
2013-01-05  4.0  NaN  NaN  8
2013-01-06  5.0  NaN  7.0  7

In [24]:
#Using the isin() method for filtering:
df2 = df.copy()
df2['E'] = ['one','two','two','three','one','four']
# print df2[df2.E.isin(['two','four'])]
print df2[df2['E'].isin(['two','four'])]

            A  B  C  D     E
2013-01-02  6  5  4  5   two
2013-01-03  2  7  3  6   two
2013-01-06  5  2  7  7  four

In [29]:
#Setting with .at() and .iat()
s1 = pd.Series(range(6),index = pd.date_range('20130101',periods = 6))
print s1
df['F'] = s1
df.at[dates[0],'A'] = 0
df.iat[0,1] = 0
df.iloc[0,2] = 0
print df
# df.iat[[3,5], [0,3]] = 0 #not ok, must use interger to index

2013-01-01    0
2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
Freq: D, dtype: int64
            A  B  C  D  F
2013-01-01  0  0  0  6  0
2013-01-02  6  5  4  5  1
2013-01-03  2  7  3  6  2
2013-01-04  6  1  7  6  3
2013-01-05  4  3  1  8  4
2013-01-06  5  2  7  7  5

In [34]:
df = pd.DataFrame(np.random.randint(1,10,[6,4]), index = dates, columns = list('ABCD'))
f = lambda x: x*5
# df.loc[:,'D'] = np.array([5]*len(df))
print df['D'].map(lambda x: x*5) #must save back, otherwise will not save results
df.columns = [x.lower() for x in df.columns] #operation on columns
print df

2013-01-01     5
2013-01-02    20
2013-01-03     5
2013-01-04     5
2013-01-05    40
2013-01-06    45
Freq: D, Name: D, dtype: int64
            a  b  c  d
2013-01-01  1  6  5  1
2013-01-02  2  8  6  4
2013-01-03  1  2  9  1
2013-01-04  2  9  4  1
2013-01-05  4  9  8  8
2013-01-06  9  8  1  9

In [39]:
df = pd.DataFrame(np.random.randint(1,10,[6,4]), index = dates, columns = list('ABCD'))
df1 = df.applymap(lambda x: float(x) *2)
df1

      A     B     C     D
0  16.0  10.0  14.0   8.0
1   4.0  16.0  16.0  14.0
2   6.0   2.0   2.0   4.0
3  14.0   4.0   8.0  10.0
4  14.0  18.0   6.0   4.0
5   6.0  16.0   8.0  16.0

In [42]:
df2 = df1.copy()
df2[df2>0] = -df3
df2

       A     B     C      D
0 -100.0 -10.0 -14.0 -100.0
1   -4.0 -16.0 -16.0  -14.0
2   -6.0  -2.0  -2.0   -4.0
3  -14.0  -4.0  -8.0  -10.0
4  -14.0 -18.0  -6.0   -4.0
5   -6.0 -16.0  -8.0  -16.0

In [43]:
df3 = df1.copy()
df3.iloc[0,0] = 100
df3.iloc[0,3] = 100
df3

       A     B     C      D
0  100.0  10.0  14.0  100.0
1    4.0  16.0  16.0   14.0
2    6.0   2.0   2.0    4.0
3   14.0   4.0   8.0   10.0
4   14.0  18.0   6.0    4.0
5    6.0  16.0   8.0   16.0

In [52]:
B = np.arange(6)
print df2.shape, B.shape #shape is tuple
print '------\n', df2

(6, 4) (6,)
------
       A     B     C      D
0 -100.0 -10.0 -14.0 -100.0
1   -4.0 -16.0 -16.0  -14.0
2   -6.0  -2.0  -2.0   -4.0
3  -14.0  -4.0  -8.0  -10.0
4  -14.0 -18.0  -6.0   -4.0
5   -6.0 -16.0  -8.0  -16.0

In [54]:
print df2[['B','C']].apply(lambda x: x*B) #column to column multiplication by apply()

      B     C
0  -0.0  -0.0
1 -16.0 -16.0
2  -4.0  -4.0
3 -12.0 -24.0
4 -72.0 -24.0
5 -80.0 -40.0

In [56]:
print (df2.T*B).T #transpose first, then use * to row*row, then transpose back

      A     B     C     D
0  -0.0  -0.0  -0.0  -0.0
1  -4.0 -16.0 -16.0 -14.0
2 -12.0  -4.0  -4.0  -8.0
3 -42.0 -12.0 -24.0 -30.0
4 -56.0 -72.0 -24.0 -16.0
5 -30.0 -80.0 -40.0 -80.0

In [58]:
C = np.arange(4)
print df2*C
print df2

     A     B     C      D
0 -0.0 -10.0 -28.0 -300.0
1 -0.0 -16.0 -32.0  -42.0
2 -0.0  -2.0  -4.0  -12.0
3 -0.0  -4.0 -16.0  -30.0
4 -0.0 -18.0 -12.0  -12.0
5 -0.0 -16.0 -16.0  -48.0
       A     B     C      D
0 -100.0 -10.0 -14.0 -100.0
1   -4.0 -16.0 -16.0  -14.0
2   -6.0  -2.0  -2.0   -4.0
3  -14.0  -4.0  -8.0  -10.0
4  -14.0 -18.0  -6.0   -4.0
5   -6.0 -16.0  -8.0  -16.0

In [65]:
# Missing data
df1 = df.reindex(index = dates[0:4], columns = list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
# df1.loc[dates[0], 'F'] = np.nan
print df1.dropna(how='all')
print '--------'
print df1.dropna(how='any')

     A    B    C    D    E
0  8.0  5.0  7.0  4.0  1.0
1  2.0  8.0  8.0  7.0  1.0
2  3.0  1.0  1.0  2.0  NaN
3  7.0  2.0  4.0  5.0  NaN
--------
     A    B    C    D    E
0  8.0  5.0  7.0  4.0  1.0
1  2.0  8.0  8.0  7.0  1.0

In [66]:
print df1.fillna(value = 5)
print df1.fillna(5)

     A    B    C    D    E
0  8.0  5.0  7.0  4.0  1.0
1  2.0  8.0  8.0  7.0  1.0
2  3.0  1.0  1.0  2.0  5.0
3  7.0  2.0  4.0  5.0  5.0
     A    B    C    D    E
0  8.0  5.0  7.0  4.0  1.0
1  2.0  8.0  8.0  7.0  1.0
2  3.0  1.0  1.0  2.0  5.0
3  7.0  2.0  4.0  5.0  5.0

In [70]:
print df1.isnull()
print df1.isnull().count()
print df1.isnull().sum()

       A      B      C      D      E
0  False  False  False  False  False
1  False  False  False  False  False
2  False  False  False  False   True
3  False  False  False  False   True
A    4
B    4
C    4
D    4
E    4
dtype: int64
A    0
B    0
C    0
D    0
E    2
dtype: int64

In [72]:
#Operations -stats
print df1.mean(1) #horizontal, add each column
print df1.mean() #vertical,default = 0, add each row

0    5.00
1    5.20
2    1.75
3    4.50
dtype: float64
A    5.0
B    4.0
C    5.0
D    4.5
E    1.0
dtype: float64

In [73]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
s

0    NaN
1    NaN
2    1.0
3    3.0
4    5.0
5    NaN
dtype: float64