In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
s = pd.Series([1,2,5,np.nan, 6, 8])
print s
dates = pd.date_range('20130101', periods = 6)
df = pd.DataFrame(np.random.randint(1,10,[6,4]), index = dates, columns = list('ABCD'))
df

0    1.0
1    2.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

            A  B  C  D
2013-01-01  3  2  4  6
2013-01-02  6  5  4  5
2013-01-03  2  7  3  6
2013-01-04  6  1  7  6
2013-01-05  4  3  1  8
2013-01-06  5  2  7  7

In [6]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('02/10/2013').dayofweek,
                    'C' : pd.Series(1, index=range(4), dtype = 'float32'),
                    'D' : np.array([3]*4, dtype = 'int32'),
                    'E' : pd.Categorical(["test", "train", "test", "train"]),
                    'F' : 'foo'})
df2

     A  B    C  D      E    F
0  1.0  6  1.0  3   test  foo
1  1.0  6  1.0  3  train  foo
2  1.0  6  1.0  3   test  foo
3  1.0  6  1.0  3  train  foo

In [9]:
print df2.tail(2)
print df.index
print df2.columns
print df2.values

     A  B    C  D      E    F
2  1.0  6  1.0  3   test  foo
3  1.0  6  1.0  3  train  foo
DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
Index([u'A', u'B', u'C', u'D', u'E', u'F'], dtype='object')
[[1.0 6 1.0 3 'test' 'foo']
 [1.0 6 1.0 3 'train' 'foo']
 [1.0 6 1.0 3 'test' 'foo']
 [1.0 6 1.0 3 'train' 'foo']]

In [10]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   4.333333  3.333333  4.333333  6.333333
std    1.632993  2.250926  2.338090  1.032796
min    2.000000  1.000000  1.000000  5.000000
25%    3.250000  2.000000  3.250000  6.000000
50%    4.500000  2.500000  4.000000  6.000000
75%    5.750000  4.500000  6.250000  6.750000
max    6.000000  7.000000  7.000000  8.000000

In [12]:
print df.T
print df.sort_index(axis = 0, ascending = False)
print df.sort_index(axis = 0)

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A           3           6           2           6           4           5
B           2           5           7           1           3           2
C           4           4           3           7           1           7
D           6           5           6           6           8           7
            A  B  C  D
2013-01-06  5  2  7  7
2013-01-05  4  3  1  8
2013-01-04  6  1  7  6
2013-01-03  2  7  3  6
2013-01-02  6  5  4  5
2013-01-01  3  2  4  6
            A  B  C  D
2013-01-01  3  2  4  6
2013-01-02  6  5  4  5
2013-01-03  2  7  3  6
2013-01-04  6  1  7  6
2013-01-05  4  3  1  8
2013-01-06  5  2  7  7

In [13]:
print df.sort_values(by='B')
print '---'
print df.sort_values(by='B',ascending = False)['B'].unique()
print df.sort_values(by='B',ascending = False)['B'].unique()[:2] #find the 2nd largest
print df.sort_values(by='B',ascending = False)['B'].unique()[1] #find the 2nd largest

            A  B  C  D
2013-01-04  6  1  7  6
2013-01-01  3  2  4  6
2013-01-06  5  2  7  7
2013-01-05  4  3  1  8
2013-01-02  6  5  4  5
2013-01-03  2  7  3  6
---
[7 5 3 2 1]
[7 5]
5

In [14]:
#Selection
print df['A']
print df[0:3]
print df['20130101':'20130103']

2013-01-01    3
2013-01-02    6
2013-01-03    2
2013-01-04    6
2013-01-05    4
2013-01-06    5
Freq: D, Name: A, dtype: int64
            A  B  C  D
2013-01-01  3  2  4  6
2013-01-02  6  5  4  5
2013-01-03  2  7  3  6
            A  B  C  D
2013-01-01  3  2  4  6
2013-01-02  6  5  4  5
2013-01-03  2  7  3  6

In [15]:
#Selection by Label
print df.loc[dates[0]]
print df.loc[:, ['A','B']]
print df.loc['20130101':'20130103', ['A','B']]
print df.loc['20130103', ['A','B']]

A    3
B    2
C    4
D    6
Name: 2013-01-01 00:00:00, dtype: int64
            A  B
2013-01-01  3  2
2013-01-02  6  5
2013-01-03  2  7
2013-01-04  6  1
2013-01-05  4  3
2013-01-06  5  2
            A  B
2013-01-01  3  2
2013-01-02  6  5
2013-01-03  2  7
A    2
B    7
Name: 2013-01-03 00:00:00, dtype: int64

In [16]:
#For getting a scalar value
print df.loc['20130101','A']
print df.loc[dates[0],'A']

3
3

In [17]:
#Selection by Position
print df.iloc[3]
print df.iloc[3:5,0:2]
print df.iloc[[3,5], [0,3]]
print df.iloc[1:3,:]
print df.iat[1,1]

A    6
B    1
C    7
D    6
Name: 2013-01-04 00:00:00, dtype: int64
            A  B
2013-01-04  6  1
2013-01-05  4  3
            A  D
2013-01-04  6  6
2013-01-06  5  7
            A  B  C  D
2013-01-02  6  5  4  5
2013-01-03  2  7  3  6
5

In [23]:
#Boolean Indexing
print df[df[['A','B']] > 3] # Using a single column values to select data.
print df[df[['A','B']] > 3].count(axis = 1)  # Using a single column values to select data.
print df[df[['A','B']] > 3].count(axis = 0)  # Using a single column values to select data.
print df[df>3] # A where operation for getting.

              A    B   C   D
2013-01-01  NaN  NaN NaN NaN
2013-01-02  6.0  5.0 NaN NaN
2013-01-03  NaN  7.0 NaN NaN
2013-01-04  6.0  NaN NaN NaN
2013-01-05  4.0  NaN NaN NaN
2013-01-06  5.0  NaN NaN NaN
2013-01-01    0
2013-01-02    2
2013-01-03    1
2013-01-04    1
2013-01-05    1
2013-01-06    1
Freq: D, dtype: int64
A    4
B    2
C    0
D    0
dtype: int64
              A    B    C  D
2013-01-01  NaN  NaN  4.0  6
2013-01-02  6.0  5.0  4.0  5
2013-01-03  NaN  7.0  NaN  6
2013-01-04  6.0  NaN  7.0  6
2013-01-05  4.0  NaN  NaN  8
2013-01-06  5.0  NaN  7.0  7

In [24]:
#Using the isin() method for filtering:
df2 = df.copy()
df2['E'] = ['one','two','two','three','one','four']
# print df2[df2.E.isin(['two','four'])]
print df2[df2['E'].isin(['two','four'])]

            A  B  C  D     E
2013-01-02  6  5  4  5   two
2013-01-03  2  7  3  6   two
2013-01-06  5  2  7  7  four

In [29]:
#Setting with .at() and .iat()
s1 = pd.Series(range(6),index = pd.date_range('20130101',periods = 6))
print s1
df['F'] = s1
df.at[dates[0],'A'] = 0
df.iat[0,1] = 0
df.iloc[0,2] = 0
print df
# df.iat[[3,5], [0,3]] = 0 #not ok, must use interger to index

2013-01-01    0
2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
Freq: D, dtype: int64
            A  B  C  D  F
2013-01-01  0  0  0  6  0
2013-01-02  6  5  4  5  1
2013-01-03  2  7  3  6  2
2013-01-04  6  1  7  6  3
2013-01-05  4  3  1  8  4
2013-01-06  5  2  7  7  5

In [34]:
df = pd.DataFrame(np.random.randint(1,10,[6,4]), index = dates, columns = list('ABCD'))
f = lambda x: x*5
# df.loc[:,'D'] = np.array([5]*len(df))
print df['D'].map(lambda x: x*5) #must save back, otherwise will not save results
df.columns = [x.lower() for x in df.columns] #operation on columns
print df

2013-01-01     5
2013-01-02    20
2013-01-03     5
2013-01-04     5
2013-01-05    40
2013-01-06    45
Freq: D, Name: D, dtype: int64
            a  b  c  d
2013-01-01  1  6  5  1
2013-01-02  2  8  6  4
2013-01-03  1  2  9  1
2013-01-04  2  9  4  1
2013-01-05  4  9  8  8
2013-01-06  9  8  1  9

In [39]:
df = pd.DataFrame(np.random.randint(1,10,[6,4]), index = dates, columns = list('ABCD'))
df1 = df.applymap(lambda x: float(x) *2)
df1

      A     B     C     D
0  16.0  10.0  14.0   8.0
1   4.0  16.0  16.0  14.0
2   6.0   2.0   2.0   4.0
3  14.0   4.0   8.0  10.0
4  14.0  18.0   6.0   4.0
5   6.0  16.0   8.0  16.0

In [42]:
df2 = df1.copy()
df2[df2>0] = -df3
df2

       A     B     C      D
0 -100.0 -10.0 -14.0 -100.0
1   -4.0 -16.0 -16.0  -14.0
2   -6.0  -2.0  -2.0   -4.0
3  -14.0  -4.0  -8.0  -10.0
4  -14.0 -18.0  -6.0   -4.0
5   -6.0 -16.0  -8.0  -16.0

In [43]:
df3 = df1.copy()
df3.iloc[0,0] = 100
df3.iloc[0,3] = 100
df3

       A     B     C      D
0  100.0  10.0  14.0  100.0
1    4.0  16.0  16.0   14.0
2    6.0   2.0   2.0    4.0
3   14.0   4.0   8.0   10.0
4   14.0  18.0   6.0    4.0
5    6.0  16.0   8.0   16.0

In [52]:
B = np.arange(6)
print df2.shape, B.shape #shape is tuple
print '------\n', df2

(6, 4) (6,)
------
       A     B     C      D
0 -100.0 -10.0 -14.0 -100.0
1   -4.0 -16.0 -16.0  -14.0
2   -6.0  -2.0  -2.0   -4.0
3  -14.0  -4.0  -8.0  -10.0
4  -14.0 -18.0  -6.0   -4.0
5   -6.0 -16.0  -8.0  -16.0

In [54]:
print df2[['B','C']].apply(lambda x: x*B) #column to column multiplication by apply()

      B     C
0  -0.0  -0.0
1 -16.0 -16.0
2  -4.0  -4.0
3 -12.0 -24.0
4 -72.0 -24.0
5 -80.0 -40.0

In [56]:
print (df2.T*B).T #transpose first, then use * to row*row, then transpose back

      A     B     C     D
0  -0.0  -0.0  -0.0  -0.0
1  -4.0 -16.0 -16.0 -14.0
2 -12.0  -4.0  -4.0  -8.0
3 -42.0 -12.0 -24.0 -30.0
4 -56.0 -72.0 -24.0 -16.0
5 -30.0 -80.0 -40.0 -80.0

In [58]:
C = np.arange(4)
print df2*C
print df2

     A     B     C      D
0 -0.0 -10.0 -28.0 -300.0
1 -0.0 -16.0 -32.0  -42.0
2 -0.0  -2.0  -4.0  -12.0
3 -0.0  -4.0 -16.0  -30.0
4 -0.0 -18.0 -12.0  -12.0
5 -0.0 -16.0 -16.0  -48.0
       A     B     C      D
0 -100.0 -10.0 -14.0 -100.0
1   -4.0 -16.0 -16.0  -14.0
2   -6.0  -2.0  -2.0   -4.0
3  -14.0  -4.0  -8.0  -10.0
4  -14.0 -18.0  -6.0   -4.0
5   -6.0 -16.0  -8.0  -16.0

In [65]:
# Missing data
df1 = df.reindex(index = dates[0:4], columns = list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
# df1.loc[dates[0], 'F'] = np.nan
print df1.dropna(how='all')
print '--------'
print df1.dropna(how='any')

     A    B    C    D    E
0  8.0  5.0  7.0  4.0  1.0
1  2.0  8.0  8.0  7.0  1.0
2  3.0  1.0  1.0  2.0  NaN
3  7.0  2.0  4.0  5.0  NaN
--------
     A    B    C    D    E
0  8.0  5.0  7.0  4.0  1.0
1  2.0  8.0  8.0  7.0  1.0

In [66]:
print df1.fillna(value = 5)
print df1.fillna(5)

     A    B    C    D    E
0  8.0  5.0  7.0  4.0  1.0
1  2.0  8.0  8.0  7.0  1.0
2  3.0  1.0  1.0  2.0  5.0
3  7.0  2.0  4.0  5.0  5.0
     A    B    C    D    E
0  8.0  5.0  7.0  4.0  1.0
1  2.0  8.0  8.0  7.0  1.0
2  3.0  1.0  1.0  2.0  5.0
3  7.0  2.0  4.0  5.0  5.0

In [70]:
print df1.isnull()
print df1.isnull().count()
print df1.isnull().sum()

       A      B      C      D      E
0  False  False  False  False  False
1  False  False  False  False  False
2  False  False  False  False   True
3  False  False  False  False   True
A    4
B    4
C    4
D    4
E    4
dtype: int64
A    0
B    0
C    0
D    0
E    2
dtype: int64

In [72]:
#Operations -stats
print df1.mean(1) #horizontal, add each column
print df1.mean() #vertical,default = 0, add each row

0    5.00
1    5.20
2    1.75
3    4.50
dtype: float64
A    5.0
B    4.0
C    5.0
D    4.5
E    1.0
dtype: float64

In [158]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(-2)
print s
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
print s

2013-01-01    5.0
2013-01-02    NaN
2013-01-03    6.0
2013-01-04    8.0
2013-01-05    NaN
2013-01-06    NaN
Freq: D, dtype: float64
2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

## pd.Series Vs np.array : same kind of computation

In [159]:
s = pd.Series([1,3,5,np.nan,6,8], index=range(6))
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [160]:
sa = np.array([1,3,5,np.nan,6,8])
sa

array([  1.,   3.,   5.,  nan,   6.,   8.])

In [161]:
print df
print df.apply(lambda x: x-s) #if np.nan True --> np.nan or NaN.

   A  B  C  D
0  8  5  7  4
1  2  8  8  7
2  3  1  1  2
3  7  2  4  5
4  7  9  3  2
5  3  8  4  8
     A    B    C    D
0  7.0  4.0  6.0  3.0
1 -1.0  5.0  5.0  4.0
2 -2.0 -4.0 -4.0 -3.0
3  NaN  NaN  NaN  NaN
4  1.0  3.0 -3.0 -4.0
5 -5.0  0.0 -4.0  0.0

In [162]:
print df
print df.apply(lambda x: x-sa) #if np.nan True --> np.nan or NaN.

   A  B  C  D
0  8  5  7  4
1  2  8  8  7
2  3  1  1  2
3  7  2  4  5
4  7  9  3  2
5  3  8  4  8
     A    B    C    D
0  7.0  4.0  6.0  3.0
1 -1.0  5.0  5.0  4.0
2 -2.0 -4.0 -4.0 -3.0
3  NaN  NaN  NaN  NaN
4  1.0  3.0 -3.0 -4.0
5 -5.0  0.0 -4.0  0.0

In [127]:
print df.applymap(lambda x: x - 10)

   A  B  C  D
0 -2 -5 -3 -6
1 -8 -2 -2 -3
2 -7 -9 -9 -8
3 -3 -8 -6 -5
4 -3 -1 -7 -8
5 -7 -2 -6 -2

In [133]:
print df
print df['A'].apply(lambda x: x-s)

   A  B  C  D
0  8  5  7  4
1  2  8  8  7
2  3  1  1  2
3  7  2  4  5
4  7  9  3  2
5  3  8  4  8
    0   1    2    3    4   5
0 NaN NaN  7.0  5.0  3.0 NaN
1 NaN NaN  1.0 -1.0 -3.0 NaN
2 NaN NaN  2.0  0.0 -2.0 NaN
3 NaN NaN  6.0  4.0  2.0 NaN
4 NaN NaN  6.0  4.0  2.0 NaN
5 NaN NaN  2.0  0.0 -2.0 NaN

In [164]:
f = lambda x: x**2
print (df['A']-s)**2
print (df['A']-s).map(f)
print (df['A'].sub(s))**2
print (df['A'].sub(s)).map(f)

0    49.0
1     1.0
2     4.0
3     NaN
4     1.0
5    25.0
dtype: float64
0    49.0
1     1.0
2     4.0
3     NaN
4     1.0
5    25.0
dtype: float64
0    49.0
1     1.0
2     4.0
3     NaN
4     1.0
5    25.0
dtype: float64
0    49.0
1     1.0
2     4.0
3     NaN
4     1.0
5    25.0
dtype: float64

In [138]:
print type(df['A']-s)

<class 'pandas.core.series.Series'>

In [143]:
print ((df['A']-s)**2).shift(-2) #negative == upward

0     4.0
1    16.0
2     4.0
3     NaN
4     NaN
5     NaN
dtype: float64

In [144]:
print ((df['A']-s)**2).shift(2) #positive == downward

0     NaN
1     NaN
2     NaN
3     NaN
4     4.0
5    16.0
dtype: float64

## Apply

In [168]:
df.apply(np.cumsum,axis = 1)

   A   B   C   D
0  8  13  20  24
1  2  10  18  25
2  3   4   5   7
3  7   9  13  18
4  7  16  19  21
5  3  11  15  23

In [169]:
df.apply(np.cumsum)

    A   B   C   D
0   8   5   7   4
1  10  13  15  11
2  13  14  16  13
3  20  16  20  18
4  27  25  23  20
5  30  33  27  28

In [170]:
df.apply(lambda x: x.max() - x.min())

A    6
B    8
C    7
D    6
dtype: int64

In [175]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   5.000000  5.500000  4.500000  4.666667
std    2.607681  3.391165  2.588436  2.503331
min    2.000000  1.000000  1.000000  2.000000
25%    3.000000  2.750000  3.250000  2.500000
50%    5.000000  6.500000  4.000000  4.500000
75%    7.000000  8.000000  6.250000  6.500000
max    8.000000  9.000000  8.000000  8.000000

## Histogramming

In [619]:
s = pd.Series(np.random.randint(0,7,10))
print s
print type(s)

0    4
1    5
2    1
3    5
4    4
5    4
6    3
7    5
8    4
9    6
dtype: int64
<class 'pandas.core.series.Series'>

In [626]:
print s.value_counts()
print type(s.value_counts())

4    4
5    3
6    1
3    1
1    1
dtype: int64
<class 'pandas.core.series.Series'>

In [629]:
s.value_counts()[5]

3

In [620]:
set(s)

{1, 3, 4, 5, 6}

In [630]:
s.values

array([4, 5, 1, 5, 4, 4, 3, 5, 4, 6])

In [634]:
from collections import Counter
print Counter(s)
pd.Series(Counter(s))

Counter({4: 4, 5: 3, 1: 1, 3: 1, 6: 1})

1    1
3    1
4    4
5    3
6    1
dtype: int64

In [635]:
s.unique().size

5

In [616]:
s.unique().sum()

13

In [209]:
print type(s.value_counts())
print len(s.value_counts())

<class 'pandas.core.series.Series'>
5

In [222]:
for col in df:
    if df[col].dtype == 'int64':
        print df[col]

0    8
1    2
2    3
3    7
4    7
5    3
Name: A, dtype: int64
0    5
1    8
2    1
3    2
4    9
5    8
Name: B, dtype: int64
0    7
1    8
2    1
3    4
4    3
5    4
Name: C, dtype: int64
0    4
1    7
2    2
3    5
4    2
5    8
Name: D, dtype: int64

In [224]:
print [x for x in df if df[x].dtype == 'int64']

['A', 'B', 'C', 'D']

In [225]:
for item, frame in df.iteritems():
    print item
    print frame

A
0    8
1    2
2    3
3    7
4    7
5    3
Name: A, dtype: int64
B
0    5
1    8
2    1
3    2
4    9
5    8
Name: B, dtype: int64
C
0    7
1    8
2    1
3    4
4    3
5    4
Name: C, dtype: int64
D
0    4
1    7
2    2
3    5
4    2
5    8
Name: D, dtype: int64

In [227]:
ls1 =  [df[x] for x in df]

In [231]:
type(ls1[2])

pandas.core.series.Series

In [251]:
df.applymap(lambda x: x*2)

    A   B   C   D
0  16  10  14   8
1   4  16  16  14
2   6   2   2   4
3  14   4   8  10
4  14  18   6   4
5   6  16   8  16

In [256]:
df.apply(lambda x: x*np.arange(len(df)), axis=0)

    A   B   C   D
0   0   0   0   0
1   2   8   8   7
2   6   2   2   4
3  21   6  12  15
4  28  36  12   8
5  15  40  20  40

In [260]:
df.apply(lambda x: x*np.arange(4), axis=1)

   A  B   C   D
0  0  5  14  12
1  0  8  16  21
2  0  1   2   6
3  0  2   8  15
4  0  9   6   6
5  0  8   8  24

In [261]:
df.index

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [382]:
dft = pd.DataFrame(np.array(range(2)*2),columns = ['A'])
dft

   A
0  0
1  1
2  0
3  1

In [267]:
dft.index

RangeIndex(start=0, stop=6, step=1)

## sorted() can take list, array, series, and data frame
* series, dataframe : use unique
* list, array : use set()
* To sort: use sorted for everything

In [311]:
print sorted(list(dft[0].unique()))[-2]
print sorted(dft[0].unique())[-2]

4
4

In [601]:
sorted(set(dft['A']))[-2]

0

In [344]:
print type(dft[0].value_counts())
print dft[0].value_counts().unique()[-1]
print sorted(dft[0].values)[-2]

<class 'pandas.core.series.Series'>
1
4

In [318]:
dft[0].argmin()

0

In [353]:
print dft[0].unique()[-2]

4

In [341]:
print type(dft[0])

<class 'pandas.core.series.Series'>

In [350]:
print sorted(df)

['A', 'B', 'C', 'D', 'E']

In [358]:
pd.Series(np.arange(6)).unique()

array([0, 1, 2, 3, 4, 5])

In [360]:
sorted(set(np.arange(6)))

[0, 1, 2, 3, 4, 5]

In [364]:
print type(df.A)
print type(df)
print type(np.arange(6))
df[]

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
<type 'numpy.ndarray'>

## Array and series are kind of the same

In [369]:
df['E'] = np.arange(10,16)

In [370]:
print type(df.E)

<class 'pandas.core.series.Series'>

In [375]:
print pd.DataFrame(np.arange(20,26))
print type(pd.DataFrame(np.arange(20,26)))

    0
0  20
1  21
2  22
3  23
4  24
5  25
<class 'pandas.core.frame.DataFrame'>

In [378]:
print pd.DataFrame(pd.Series(np.arange(10,16)),columns=['A'])
print type(pd.DataFrame(np.arange(20,26)))

    A
0  10
1  11
2  12
3  13
4  14
5  15
<class 'pandas.core.frame.DataFrame'>

In [387]:
print df.cummax()

   A  B  C  D   E
0  8  5  7  4  10
1  8  8  8  7  11
2  8  8  8  7  12
3  8  8  8  7  13
4  8  9  8  7  14
5  8  9  8  8  15

In [388]:
print df.cummin()

   A  B  C  D   E
0  8  5  7  4  10
1  2  5  7  4  10
2  2  1  1  2  10
3  2  1  1  2  10
4  2  1  1  2  10
5  2  1  1  2  10

In [393]:
print df.quantile()

A     5.0
B     6.5
C     4.0
D     4.5
E    12.5
Name: 0.5, dtype: float64

In [394]:
print df.mean()

A     5.000000
B     5.500000
C     4.500000
D     4.666667
E    12.500000
dtype: float64

In [423]:
df['A'].idxmin()

1

In [426]:
df.idxmin()

A    1
B    2
C    2
D    2
E    0
dtype: int64

In [432]:
df['B'].argmin() #does not work as df.argmin()

2

In [433]:
df.min()

A     2
B     1
C     1
D     2
E    10
dtype: int64

In [386]:
df

   A  B  C  D   E
0  8  5  7  4  10
1  2  8  8  7  11
2  3  1  1  2  12
3  7  2  4  5  13
4  7  9  3  2  14
5  3  8  4  8  15

## numpy.random.randn(d0, d1, ..., dn)
Return a sample (or samples) from the **“standard normal” distribution**.

If positive, int_like or int-convertible arguments are provided, randn generates an array of shape (d0, d1, ..., dn), filled with random floats sampled from a univariate “normal” (Gaussian) distribution of mean 0 and variance 1 (if any of the d_i are floats, they are first converted to integers by truncation). A single float randomly sampled from the distribution is returned if no argument is provided.

In [403]:
np.random.randn(6,4)

array([[ 0.09475166,  1.18566259, -1.31299124,  0.70130547],
       [-1.1276469 , -0.2464203 ,  0.22910319,  0.21277774],
       [-0.8218435 , -1.36876374, -0.45970197, -0.38387409],
       [ 0.54548521, -1.20864588,  1.75275103,  1.49471324],
       [-0.97690874,  0.63783919, -0.26599682, -0.97448109],
       [-1.69182638, -1.32832838, -0.64451457, -2.20251777]])

## numpy.random.randint(low, high=None, size=None, dtype='l')
Return random integers from low (inclusive) to high (exclusive).

In [405]:
np.random.randint(1,10,[6,4])

array([[4, 9, 5, 6],
       [5, 3, 4, 3],
       [6, 1, 1, 4],
       [9, 6, 5, 2],
       [6, 3, 6, 3],
       [4, 7, 9, 4]])

## numpy.random.rand(d0, d1, ..., dn)
Random values in a given shape.

Create an array of the given shape and populate it with random samples from a uniform distribution over [0, 1).

In [412]:
np.random.rand(2,2)

array([[ 0.00718154,  0.24415433],
       [ 0.70456574,  0.3766605 ]])

## String Methods

In [453]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', 'CABA', 'dog', 'cat'])

In [460]:
map(lambda x: x.capitalize(), s) #does not work for int and NaN.

['A', 'B', 'C', 'Aaba', 'Baca', 'Caba', 'Dog', 'Cat']

In [459]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5    caba
6     dog
7     cat
dtype: object

## Merge

In [461]:
df = pd.DataFrame(np.random.randn(10, 4))

In [471]:
df.iloc[:3,:]

          0         1         2         3
0  0.886093  0.584678  0.065250 -0.089348
1 -0.746099 -0.130000  0.054592 -0.461797
2 -0.535655  1.196404  2.788567 -0.302920

In [475]:
df[:3]

          0         1         2         3
0  0.886093  0.584678  0.065250 -0.089348
1 -0.746099 -0.130000  0.054592 -0.461797
2 -0.535655  1.196404  2.788567 -0.302920

In [476]:
df.loc[0:3, 0:3]

          0         1         2         3
0  0.886093  0.584678  0.065250 -0.089348
1 -0.746099 -0.130000  0.054592 -0.461797
2 -0.535655  1.196404  2.788567 -0.302920
3  0.366127 -0.850146  0.839970 -1.115038

In [478]:
pieces = [df[:3], df[3:7],df[7:]]
pieces

[          0         1         2         3
 0  0.886093  0.584678  0.065250 -0.089348
 1 -0.746099 -0.130000  0.054592 -0.461797
 2 -0.535655  1.196404  2.788567 -0.302920,
           0         1         2         3
 3  0.366127 -0.850146  0.839970 -1.115038
 4 -0.383056 -0.962098 -0.783883  0.977103
 5  0.145628  0.035261 -1.253031 -0.142557
 6 -1.354708  0.537038 -0.206253  0.420982,
           0         1         2         3
 7 -0.988033 -1.112512  1.941276  1.719464
 8 -0.567940  2.409830  1.453010  0.802476
 9  0.842638 -0.662737 -1.958810 -0.609998]

In [479]:
df_merge = pd.concat(pieces)

In [480]:
df_merge

          0         1         2         3
0  0.886093  0.584678  0.065250 -0.089348
1 -0.746099 -0.130000  0.054592 -0.461797
2 -0.535655  1.196404  2.788567 -0.302920
3  0.366127 -0.850146  0.839970 -1.115038
4 -0.383056 -0.962098 -0.783883  0.977103
5  0.145628  0.035261 -1.253031 -0.142557
6 -1.354708  0.537038 -0.206253  0.420982
7 -0.988033 -1.112512  1.941276  1.719464
8 -0.567940  2.409830  1.453010  0.802476
9  0.842638 -0.662737 -1.958810 -0.609998

## Join
SQL style merges. See the Database style joining
http://pandas.pydata.org/pandas-docs/stable/merging.html#merging-join

In [493]:
left = pd.DataFrame({'key':['foo'
                            ,'foo'], 'lval':[1,2]})
right = pd.DataFrame({'key':['foo','foo'], 'rval': [4,5]})

In [494]:
right

   key  rval
0  foo     4
1  foo     5

In [490]:
pd.merge(left,right)

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [489]:
pd.merge(left,right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [492]:
left = pd.DataFrame({'key':['foo','bar'], 'lval':[1,2]})
right = pd.DataFrame({'key':['foo','bar'], 'rval': [4,5]})
pd.merge(left, right, on= 'key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

## DataFrame stack: Append( ) & drop( )
* drop( ) work with bothe row and column

In [495]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])

In [497]:
s = df.iloc[3]

In [500]:
df.append(s, ignore_index=True)

          A         B         C         D
0 -0.491188  0.283146  1.211822  0.976053
1  0.613778  0.978969  0.177775 -0.665328
2 -0.449637  1.107257 -0.553392 -0.130690
3 -1.157560 -0.303614 -0.381803 -0.316744
4  1.448795 -1.035121  1.312764  0.052735
5  1.013412 -1.990764 -0.251323 -1.025483
6 -0.679459  0.928093  0.029572  0.539979
7  2.701782  1.179619 -0.713256 -0.885304
8 -1.157560 -0.303614 -0.381803 -0.316744

In [501]:
df.append(s)

          A         B         C         D
0 -0.491188  0.283146  1.211822  0.976053
1  0.613778  0.978969  0.177775 -0.665328
2 -0.449637  1.107257 -0.553392 -0.130690
3 -1.157560 -0.303614 -0.381803 -0.316744
4  1.448795 -1.035121  1.312764  0.052735
5  1.013412 -1.990764 -0.251323 -1.025483
6 -0.679459  0.928093  0.029572  0.539979
7  2.701782  1.179619 -0.713256 -0.885304
3 -1.157560 -0.303614 -0.381803 -0.316744

In [577]:
df[9] = df.iloc[3]

In [509]:
del df[9]

In [581]:
df.drop(9,1)

          A         B         C         D
0 -0.491188  0.283146  1.211822  0.976053
1  0.613778  0.978969  0.177775 -0.665328
2 -0.449637  1.107257 -0.553392 -0.130690
3 -1.157560 -0.303614 -0.381803 -0.316744
4  1.448795 -1.035121  1.312764  0.052735
5  1.013412 -1.990764 -0.251323 -1.025483
6 -0.679459  0.928093  0.029572  0.539979
7  2.701782  1.179619 -0.713256 -0.885304

In [549]:
df.drop(9,axis = 1, inplace = True)

In [583]:
df.pop(9)

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
Name: 9, dtype: float64

In [585]:
df.loc[7]

A    2.701782
B    1.179619
C   -0.713256
D   -0.885304
Name: 7, dtype: float64

In [586]:
df.iloc[7]

A    2.701782
B    1.179619
C   -0.713256
D   -0.885304
Name: 7, dtype: float64

In [587]:
df.drop(7)

          A         B         C         D
0 -0.491188  0.283146  1.211822  0.976053
1  0.613778  0.978969  0.177775 -0.665328
2 -0.449637  1.107257 -0.553392 -0.130690
3 -1.157560 -0.303614 -0.381803 -0.316744
4  1.448795 -1.035121  1.312764  0.052735
5  1.013412 -1.990764 -0.251323 -1.025483
6 -0.679459  0.928093  0.029572  0.539979

In [590]:
df.drop('D',1)

          A         B         C
0 -0.491188  0.283146  1.211822
1  0.613778  0.978969  0.177775
2 -0.449637  1.107257 -0.553392
3 -1.157560 -0.303614 -0.381803
4  1.448795 -1.035121  1.312764
5  1.013412 -1.990764 -0.251323
6 -0.679459  0.928093  0.029572
7  2.701782  1.179619 -0.713256

In [591]:
df

          A         B         C         D
0 -0.491188  0.283146  1.211822  0.976053
1  0.613778  0.978969  0.177775 -0.665328
2 -0.449637  1.107257 -0.553392 -0.130690
3 -1.157560 -0.303614 -0.381803 -0.316744
4  1.448795 -1.035121  1.312764  0.052735
5  1.013412 -1.990764 -0.251323 -1.025483
6 -0.679459  0.928093  0.029572  0.539979
7  2.701782  1.179619 -0.713256 -0.885304

## set and unique

In [603]:
print type(df[['B']])
print type(df['B'])

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [604]:
set(df[['B']])

{'B'}

In [605]:
set(df['B'])

{-1.9907638190113461,
 -1.0351211261433719,
 -0.30361419104289594,
 0.28314558128474021,
 0.92809291185301179,
 0.97896904362542136,
 1.1072570116464029,
 1.1796193578964553}

In [651]:
df['B'].unique

<bound method Series.unique of 0    0.283146
1    0.978969
2    1.107257
3   -0.303614
4   -1.035121
5   -1.990764
6    0.928093
7    1.179619
Name: B, dtype: float64>

In [662]:
xx = df['B'].unique #instance
xx  #can not index

<bound method Series.unique of 0    0.283146
1    0.978969
2    1.107257
3   -0.303614
4   -1.035121
5   -1.990764
6    0.928093
7    1.179619
Name: B, dtype: float64>

In [653]:
type(df['B'].unique)

instancemethod

In [649]:
df['B'].unique()

array([ 0.28314558,  0.97896904,  1.10725701, -0.30361419, -1.03512113,
       -1.99076382,  0.92809291,  1.17961936])

In [665]:
yy = df['B'].unique()  #return an array
yy[1:5] #yes, can index

array([ 0.97896904,  1.10725701, -0.30361419, -1.03512113])

In [654]:
type(df['B'].unique())

numpy.ndarray

In [606]:
set(np.arange(6))

{0, 1, 2, 3, 4, 5}

In [607]:
set(pd.Series(np.arange(6)))

{0, 1, 2, 3, 4, 5}

In [608]:
set([1,1,2,3])

{1, 2, 3}

In [674]:
df['A'].value_counts()

 1.013412    1
-0.449637    1
 1.448795    1
-0.679459    1
 2.701782    1
-0.491188    1
 0.613778    1
-1.157560    1
Name: A, dtype: int64

In [670]:
set(df['A'].value_counts())

{1}

In [676]:
set(df['A'])

{-1.1575599539650125,
 -0.67945924073828856,
 -0.49118843720828925,
 -0.44963712966774155,
 0.61377801398932796,
 1.0134117075445896,
 1.4487949585422324,
 2.7017818411712873}

In [678]:
set(df['A'].values)

{-1.1575599539650125,
 -0.67945924073828856,
 -0.49118843720828925,
 -0.44963712966774155,
 0.61377801398932796,
 1.0134117075445896,
 1.4487949585422324,
 2.7017818411712873}

In [679]:
df['A']

0   -0.491188
1    0.613778
2   -0.449637
3   -1.157560
4    1.448795
5    1.013412
6   -0.679459
7    2.701782
Name: A, dtype: float64

In [680]:
df['A'].values

array([-0.49118844,  0.61377801, -0.44963713, -1.15755995,  1.44879496,
        1.01341171, -0.67945924,  2.70178184])

In [683]:
df['A'].unique()

array([-0.49118844,  0.61377801, -0.44963713, -1.15755995,  1.44879496,
        1.01341171, -0.67945924,  2.70178184])

In [685]:
sorted(set(df.A))

[-1.1575599539650125,
 -0.67945924073828856,
 -0.49118843720828925,
 -0.44963712966774155,
 0.61377801398932796,
 1.0134117075445896,
 1.4487949585422324,
 2.7017818411712873]

## Grouping

In [686]:
df = pd.DataFrame({'A': ['foo','bar','foo','bar','foo', 'bar', 'foo', 'foo'],
                  'B': ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],
                  'C': np.random.randn(8),
                  'D': np.random.randn(8)})

In [687]:
df

     A      B         C         D
0  foo    one  0.362845 -0.650738
1  bar    one -1.334766  0.733789
2  foo    two -0.008925 -0.246874
3  bar  three  0.559335 -0.911080
4  foo    two -1.203005  0.226699
5  bar    two  0.547873 -1.275626
6  foo    one -0.354299 -0.160396
7  foo  three -0.790360 -0.462920

In [693]:
df.groupby('B').sum()

              C         D
B
one   -1.326220 -0.077345
three -0.231025 -1.373999
two   -0.664057 -1.295801

In [694]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one   -1.334766  0.733789
    three  0.559335 -0.911080
    two    0.547873 -1.275626
foo one    0.008546 -0.811134
    three -0.790360 -0.462920
    two   -1.211930 -0.020175

In [696]:
df.groupby(['B','A']).sum()

                  C         D
B     A
one   bar -1.334766  0.733789
      foo  0.008546 -0.811134
three bar  0.559335 -0.911080
      foo -0.790360 -0.462920
two   bar  0.547873 -1.275626
      foo -1.211930 -0.020175

In [697]:
df.groupby(['B','A']).count()

           C  D
B     A
one   bar  1  1
      foo  2  2
three bar  1  1
      foo  1  1
two   bar  1  1
      foo  2  2

In [698]:
df.groupby(['B']).count()

       A  C  D
B
one    3  3  3
three  2  2  2
two    3  3  3

In [700]:
df.groupby('B').count()

       A  C  D
B
one    3  3  3
three  2  2  2
two    3  3  3

In [699]:
df.groupby(['A']).count()

     B  C  D
A
bar  3  3  3
foo  5  5  5